<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Daftar Company</title>
</head>
<body>
<h1>Daftar Company</h1>
<a href="/new-company-form">Tambah Company</a>
<table border="1">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nama</th>
      <th>Alamat</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="company : ${listOfCompanies}">
      <td th:text="${company.id}"></td>
      <td th:text="${company.nama}"></td>
      <td th:text="${company.alamat}"></td>
      <td><a th:href="@{/update-company/{id}(id=${company.id})}">update</a>
        <a th:href="@{/delete-company/{id}(id=${company.id})}">delete</a></td>
    </tr>
  </tbody>
</table>

</body>
</html>