<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ganjil Genap</title>
</head>
<body>
<a href="/">Kembali</a>
    <div>
        <h1>Hasil</h1>
        <form th:action="@{/ganjilgenap}" th:object="${ganjilGenap}" method="post">
            <label>Awal:</label>
            <input type="number" th:field="*{start}" required/>
            <label>Akhir:</label>
            <input type="number" th:field="*{end}" required/>

            <button type="submit">Hitung</button>

        </form>
        <div th:if="${ganjilGenap.start} != null">
            <h1>Ganjil Genap</h1>
            <table border="1">
                <tr>
                    <th>Angka</th>
                    <th>Keterangan</th>
                </tr>
                <tr th:each="elemen : ${ganjilGenap.hitung()}">
                    <td th:text="${elemen.get(0)}"></td>
                    <td th:text="${elemen.get(1)}"></td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>