<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Huruf Vokal</title>
</head>
<body>
    <div>
        <h1>Huruf Vokal</h1>
        <form th:action="@{/hurufvokal}" th:object="${hurufVokal}" method="post">
            <textarea name="text" placeholder="Masukkan text di sini" required></textarea>
            <button type="submit">Hitung</button>
        </form>
        <a href="/">Kembali</a>
    </div>
    <div th:if="${hurufVokal.text} != null">
        <h1>Hasil</h1>
        <span th:text="${hurufVokal.hitung()}"></span>
    </div>
</body>
</html>