<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kalkulator</title>
</head>
<body>
    <div>
        <h1>Kalkulator</h1>
        <form th:action="@{/kalkulator}" th:object="${kalkulator}" method="post">
            <label>Masukkan operasi matematis dengan 2 angka:</label>
            <input type="text" th:field="*{input}" required/>
            <button name="operator" type="submit" value='+'>Hitung</button>
<!--            <button name="operator" type="submit" value='-'>-</button>-->
<!--            <button name="operator" type="submit" value='*'>*</button>-->
<!--            <button name="operator" type="submit" value='/'>/</button>-->
        </form>
        <a href="/">Kembali</a>
        <div th:if="${kalkulator.input} != null">
            <h1>Hasil</h1>
            <span th:text="${kalkulator.hitung()}"></span>
        </div>
    </div>
</body>
</html>