<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Daftar Employee</title>
</head>
<body>
<h1>Daftar Employee</h1>
<a href="/new-employee-form">Tambah Employee</a>
<table border="1">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nama</th>
      <th>ID Atasan</th>
      <th>ID Company</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="employee : ${listOfEmployees}">
      <td th:text="${employee.id}"></td>
      <td th:text="${employee.nama}"></td>
      <td th:text="${employee.atasan_id}"></td>
      <td th:text="${employee.company_id}"></td>
      <td><a th:href="@{/update-employee/{id}(id=${employee.id})}">update</a>
        <a th:href="@{/delete-employee/{id}(id=${employee.id})}">delete</a></td>
    </tr>
  </tbody>
</table>

</body>
</html>